.friendMessage {
    order: 1;
    flex: 0 1 auto;
    align-self: flex-start;
}

.friendImageAndText {

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    left: 1162px;
    top: 204px;
}

.friendText {
    width: 414px;
    height: 60px;
    left: 118px;
    top: 299px;

    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
